<header>
    <h1>Centro Médico Vital Salud</h1>
</header>
<main>
    <h2>Agendamiento de citas</h2>
    <div class="container-form">
        <form>
            <label for="cedula">Número de Cédula:</label>
            <input type="number" id="cedula" name="cedula" required>
            <label for="fecha_cita">Fecha de cita médica:</label>
            <input type="date" id="fecha_cita" name="fecha_cita" required>
            <label for="medico">Especialista:</label>
            <select name="medico" id="medico" required>
                <option value="">----------Seleccione una opción----------</option>
                {{#each resultado}}
                <option value="{{cedula}}">{{nombres}} {{apellidos}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Enviar" class="container-bottom">
        </form>
        <a href="../index.html"><input type="button" value="Volver" class="container-bottom"></a>
    </div>
</main>
<footer class="pie-principal">
    <h2>Realizado por:</h2>
    <p>Jonathan Garavito - Grupo 1 - Desarrollo Web Backend</p>
</footer>